.popup__container {
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 195px;
}

@media (max-width: 767px) {
  .popup__container {
    margin: 123px 19px 0 19px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}