.footer__copyright {
  margin: 67px 0 60px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767px) {
  .footer__copyright {
    margin: 48px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    margin: 48px 0 36px 0;
  }
}