.popup__close {
  background-image: url(../../../images/closeIcon.svg);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  opacity: .6;
  transition: linear .1s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}