.profile-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 336px;
  align-items: center;
  position: relative;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .profile-info {
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
    margin: 0;
  }
}
